<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>
        Sign Up
    </h1>
    <table>
    <form action="/user" method="post">
        <tr>
        <td><label>Full Name</label></td>
        <td><input type="text" name="name" id="" requried></td>
    </tr>

    <tr>
        <td><label>Email</label></td>
        <td><input type="text" name="email" id="" requried></td>
    </tr>

        <tr>
        <td><label>Password</label></td>
        <td><input type="text" name="password" id="" requried></td>
        </tr>
    </table>
        <button type="submit">Sign Up</button>
    </form>
</body>
</html>